<h1>BootstrapLab: Sandbox</h1>
<hr/>
<div class="card z-depth-2">
  <div class="card-body">
    <h3 class="card-title">Definition Lists</h3>    
    <dl class="row">
      <div class="col">
      <dt>First Name</dt>
      <dd>Homer</dd>
      <dt>Last Name</dt>
      <dd>Simpson</dd>
      </div>
      <div class="col">
      <dt>Address</dt>
      <dd>742 Evergreen Terrace</dd>
      <dt>Country</dt>
      <dd>United States of America</dd>
      </div>
      <div class="col">
      <dt>Number of Family Members</dt>
      <dd>5</dd>
      <dt>Number Homer Careers</dt>
      <dd>500</dd>
      </div>
    </dl>
    
  <%= link_to "Edit Tablename", root_path, class: "btn btn-sm btn-primary"%>
  <%= link_to "Back To Listing", root_path, class: "btn btn-sm btn-secondary"%>
  </div>
</div>